        #panels {
            max-width: 500px;
        }
        
        .panel,
        #local_video,
        #remote_video {
            display: none;
        }
        
        #hangup_btn,
        #cancel_outgoing_call_btn {
            background-color: lightpink;
            border-color: lightpink;
        }